body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  color: white;
  background-color: lightblue;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  text-decoration: underline;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}